<h1>Add a book</h1>
<form method="POST">
    <label>Title:<input type="text" name="bookTitle" placeholder="Enter a title"/></label>
    <label>Author:<input type="text" name="author" placeholder="Enter an author"/></label>
    <label>Genre:<input type="text" name="genre" placeholder="Enter a genre"/></label>
    <button>Add</button>
</form>