<navbar class="general-font">
    <a href="/">Home</a>
    <a href="/profile">Profile</a>   
  </navbar>

<h1 class="subtitle-font">Read Books</h1>

<% readBooks.forEach(book => { %>
   
<div class="general-font">
    <h3><%= book.bookTitle %></h3>
    <p>Author: <%= book.author %></p>
    <p>Genre: <%= book.genre  %></p>
</div>
    <% }) %>