<h1>Update book</h1>
<form method="POST">
    <label>Title:<input type="text" name="title" placeholder="Enter a title"/></label>
    <label>Author:<input type="text" name="author" placeholder="Enter an author"/></label>
    <button>Update</button>
</form>