<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>

  <body id="body" bgcolor="#191919">
    <div>
    <%- body %>
  </div>
    <div>
    <footer class="general-font">Created at Ironhack by Rui & Ollie</footer>
  </div>
    <script src="/js/script.js"></script>
  </body>

  </html>
