<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!--  <title class="title-font"><%= appTitle %></title> -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Raleway:wght@500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <navbar class="general-font">
    <a href="/">Home</a>
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Log In</a>
    <a href="/profile">Profile</a>
    
  </navbar>

  <body bgcolor="#191919">
    <%- body %>

    <script src="/js/script.js"></script>
  </body>
  <footer class="general-font">Created at Ironhack by Rui & Ollie</footer>
</html>
