<h1>Profile page</h1><form method="POST" action="/logout">
    <button id="logOutButton">Log Out</button>
</form>
<h2>Hello <%= user.user %></h2>

<a>Add a new book</a>
<a>Edit a book</a>
<a>Delete a book</a>



