<h1>Profile page</h1><form method="POST" action="/logout">
    <button id="logOutButton">Log Out</button>
</form>
<h2>Hello <%= user.user %></h2>

<a href="/books/add-book">Add a new book</a>


<a href="/books/update-book">Update a book</a>
<a href="/books/delete-book">Delete a book</a>



