<h1>SignUp Page</h1>
<form method="POST" action="/auth/signup">
    <label>Username:<input type="text" name="username" placeholder="Enter a username"/></label>
    <label>E-mail:<input type="email" name="email" placeholder="Enter an e-mail address"/></label>
    <label>Password:<input type="password" name="password" placeholder="Enter a password"/></label>
    <button>Sign Up</button>
</form>