<div class="signup-page">
    <img src="/images/profileimage.png" id="profile-img"/>
<form method="POST" action="/auth/signup" class="general-font">
    <label><input type="text" name="username" placeholder="Enter a username" class="input-fields"/></label><br>
    <!-- <label>E-mail:<input type="text" name="email" placeholder="Enter an e-mail address"/></label> -->
    <label><input type="password" name="password" placeholder="Enter a password" class="input-fields"/></label><br>
    <button class="btns">Sign Up</button>
</form>

<% if (typeof errorMessage !== "undefined") { %>
 <p style="color: tomato;"><%= errorMessage %></p>
<% } %>
</div>