body {
  padding: 50px;
  color: #ffffff;
  
}

.title-font {
  font-family: Ablation;
}

.subtitle-font {
  font-family: 'Raleway', sans-serif;
}

.general-font {
  font-family: 'Arimo', sans-serif;
}

a {
  color: #00b7ff;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

h1 {
  color: 15px;
  text-transform: uppercase;
}

navbar a {
  background-color: #ffffff;
  justify-content: center;
  padding: 10px;
}

navbar form {
  margin-left: 500px
}

h3 {
  text-transform: uppercase;
}

.user-caps {
  text-transform: uppercase;
}




footer {
  color: #ADADAD
  
}