body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

h1 {
  color: 15px;
  text-transform: uppercase;
}

navbar a {
  background-color: antiquewhite;
  justify-content: center;
  padding: 10px;
}

navbar form {
  margin-left: 500px
}

h3 {
  text-transform: uppercase;
}

.user-caps {
  text-transform: uppercase;
}