body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

navbar a {
  background-color: antiquewhite;
  border: solid 1px black;
  padding: 10px;
}

navbar form {
  margin-left: 500px
}